@import '../../stylesConst.scss';

.wrapBtnForm {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.btnForm {
    font-family: Montserrat-Bold;
    font-size: $font_size_norm;
    line-height: 1.5;
    color: $color_white;
    text-transform: uppercase;
    width: 100%;
    height: $btn_height_norm;
    border-radius: 25px;
    background: $color_green;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    transition: all 0.4s;
    &:hover {
        background: $color_dark_grey;
    }
    &:active {
        background: $color_grey;
        margin-top: 6px;
        transition: all 0.4s;
    }
}

.btnDisabled {
    font-family: Montserrat-Bold;
    font-size: $font_size_norm;
    line-height: 1.5;
    color: $color_white;
    text-transform: uppercase;
    width: 100%;
    height: $btn_height_norm;
    border-radius: 25px;
    background: $color_light_grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    transition: all 0.4s;
}

.checkBoxInput {
    display: none;
}

.checkBoxInput:checked + .checkBoxLabel::after {
    transform: scale(1);
}

.checkBoxLabel {
    position: relative;
    display: inline-flex;
    width: 100%;
    align-items: center;
    font-size: $font_size_norm;
    color: $color_grey;
    cursor: pointer;
    &:before {
        content: '';
        flex: 0 0 24px;
        align-self: flex-start;
        height: 24px;
        background-color: $color_beige;
        border-radius: 4px;
        margin: 0 10px 0 0;
    }
    &:after {
        transition: transform 0.3s ease 0s;
        content: '';
        width: 16px;
        height: 16px;
        position: absolute;
        top: 4px;
        left: 4px;
        background-color: $color_green;
        border-radius: 4px;
        transform: scale(0);
    }
}

// Responsive
@media (max-width: 300px) {
    .btnForm,
    .checkBoxLabel {
        font-size: $font_size_min;
    }
}

@media (max-width: 916px) and (max-height: 415px) and (orientation: landscape) {
    .btnForm {
        font-size: $font_size_min;
        height: $btn_height_min;
    }
}

@media (max-width: 668px) and (max-height: 376px) and (orientation: landscape) {
    .btnForm {
        font-size: $font_size_min;
        height: $btn_height_min;
    }
}

@media (max-width: 897px) and (max-height: 394px) and (orientation: landscape) {
    .btnForm {
        font-size: $font_size_min;
        height: $btn_height_min;
    }
    .wrapBtnForm {
        padding-top: 10px;
    }
}

@media (max-width: 768px) and (max-height: 361px) and (orientation: landscape) {
    .btnForm {
        font-size: $font_size_min;
        height: $btn_height_min;
    }
    .wrapBtnForm {
        padding-top: 10px;
    }
}
