@import '../../stylesConst.scss';

.loginPage {
    width: 960px;
    height: 560px;
    background: $color_white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 90px;
}

.loginPic {
    width: 350px;
}

.loginPic img {
    max-width: 100%;
}

.loginForm {
    width: 350px;
}

.loginFormTitle {
    font-family: Poppins-Bold;
    font-size: 24px;
    color: $color_dark_grey;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 54px;
}

.redirectForgot {
    text-align: center;
    padding: 20px;
}

.redirectCreate {
    text-align: center;
    padding: 40px;
}

.txt {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: $color_light_grey;
}

.txtRef {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: $color_grey;
}
.txtRef:hover {
    text-decoration: none;
    color: $color_green;
}
