@import '../../stylesConst.scss';

.loginPage {
    width: 960px;
    height: 550px;
    background: $color_white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 80px;
}

.loginPic {
    width: 350px;
    img {
        max-width: 100%;
    }
}

.loginForm {
    width: 350px;
}

.loginFormTitle {
    font-family: Poppins-Bold;
    font-size: $font_size_large;
    color: $color_dark_grey;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 54px;
}

.redirectForgot {
    text-align: center;
    padding: 20px;
}

.redirectCreate {
    text-align: center;
    padding: 40px;
}

.txt {
    font-family: Poppins-Regular;
    font-size: $font_size_min;
    line-height: 1.5;
    color: $color_light_grey;
}

.txtRef {
    font-family: Poppins-Regular;
    font-size: $font_size_min;
    line-height: 1.5;
    color: $color_grey;
    &:hover {
        text-decoration: none;
        color: $color_green;
    }
}

// portrait

@media (max-width: 890px) and (orientation: portrait) {
    .loginPic {
        width: 43%;
    }
    .loginForm {
        width: 45%;
    }
}

@media (max-width: 768px) and (orientation: portrait) {
    .loginPage {
        padding: 60px;
    }
    .loginPic {
        display: none;
    }
    .loginForm {
        width: 100%;
    }
}

@media (max-width: 576px) and (orientation: portrait) {
    .loginPage {
        padding: 60px 30px 30px 30px;
    }
}

@media (max-width: 300px) and (orientation: portrait) {
    .loginPage {
        padding: 60px 15px 15px 15px;
    }
}

// landscape

@media (max-width: 668px) and (max-height: 376px) and (orientation: landscape) {
    .loginPage {
        padding: 30px;
        height: 330px;
    }
    .loginFormTitle {
        padding-bottom: 15px;
    }
    .loginPic {
        width: 40%;
    }
    .loginForm {
        width: 50%;
    }
    .redirectForgot,
    .redirectCreate {
        padding: 5px;
    }
}

@media (max-width: 916px) and (max-height: 415px) and (orientation: landscape) {
    .loginPage {
        padding: 30px;
        height: 360px;
    }
    .loginFormTitle {
        padding-bottom: 15px;
    }
    .loginPic {
        width: 40%;
    }
    .loginForm {
        width: 50%;
    }
    .redirectForgot,
    .redirectCreate {
        padding: 5px;
    }
}

@media (max-width: 897px) and (max-height: 394px) and (orientation: landscape) {
    .loginPage {
        height: 335px;
    }
}

@media (max-width: 768px) and (max-height: 361px) and (orientation: landscape) {
    .loginPage {
        height: 320px;
        padding: 15px;
    }
}
