@import './stylesConst.scss';

.App {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background: #9053c7;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}

@media (max-width: 768px) and (max-height: 361px) and (orientation: landscape) {
    .App {
        padding: 15px;
    }
}
