@import-normalize;
@import './stylesConst.scss';

@font-face {
    font-family: Poppins-Regular;
    src: url('../src/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../src/fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../src/fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../src/fonts/montserrat/Montserrat-Bold.ttf');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
    width: 100%;
    margin: 0 auto;
}

/*---------------------------------------------*/
a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: $color_grey;
    margin: 0px;
    transition: all 0.4s;
    &:focus {
        outline: none !important;
    }
    &:hover {
        text-decoration: none;
        color: $color_green;
    }
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

p {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: $color_grey;
    margin: 0px;
}

ul,
li {
    margin: 0px;
    list-style-type: none;
}

/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}

input::-webkit-input-placeholder {
    color: $color_light_grey;
}

textarea::-webkit-input-placeholder {
    color: $color_light_grey;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
    &:hover {
        cursor: pointer;
    }
}

iframe {
    border: none !important;
}

/*------------------------------------------------------------------


/*------------------------------------------------------------------
[ Alert validate ]*/

/* .validate-input {
    position: relative;
} */

/* .alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
 
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;
    font-family: Poppins-Medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;

    transition: opacity 0.4s;
} */

/* .alert-validate::after {
    content: '\f06a';
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;

    transform: translateY(-50%);
    right: 13px;
} */

/* .alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
} */

/* @media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
} */
