$color_green: #57b846;
$color_grey: #666666;
$color_light_grey: #999999;
$color_dark_grey: #333333;
$color_beige: #e6e6e6;
$color_white: #fff;
$color_red: #c80000;

$font_size_norm: 15px;
$font_size_large: 24px;
$font_size_min: 12px;

// высота инпутов и кнопок
$btn_height_norm: 50px;
$btn_height_min: 40px;
